<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>

<h1><u>About The Library</u><u>:</u></h1>
<p>Stylish Inventory is a JavaScript library for displaying any type of products or inventory in a pattern with each item having it&apos;s own individual card. Each card displays the relevant information such as title, description, price, whether its in stock and a &quot;purchase&quot; button for adding it to a cart. The library keeps track of which and how many items are available to purchase and the end user is able to view and edit what&apos;s in their cart from the cart button.&nbsp;</p>
<p><br></p>
<h1><u>Getting Started:</u></h1>
<p>S</p>
<table style="width: 100%;">
    <tbody>
        <tr>
            <td style="width: 20.0000%;">
                <div data-empty="true" style="text-align: center;"><strong>Property</strong></div>
            </td>
            <td style="width: 20.0000%;">
                <div data-empty="true" style="text-align: center;"><strong>Default</strong></div>
            </td>
            <td style="width: 20.0000%;">
                <div style="text-align: center;"><strong>Type</strong></div>
            </td>
            <td style="width: 35.4354%;">
                <div data-empty="true" style="text-align: center;"><strong>Description</strong></div>
            </td>
            <td style="width: 4.5045%;"><br></td>
        </tr>
        <tr>
            <td style="width: 20.0000%;">
                <div data-empty="true" style="text-align: center;">cards</div>
            </td>
            <td style="width: 20.0000%;">
                <div data-empty="true" style="text-align: center;"><code>[]</code></div>
            </td>
            <td style="width: 20.0000%;">
                <div data-empty="true" style="text-align: center;">array</div>
            </td>
            <td style="width: 35.4354%;">
                <div data-empty="true" style="text-align: center;">An array of all the product cards that have been created.</div>
            </td>
            <td style="width: 4.5045%;"><br></td>
        </tr>
        <tr>
            <td style="width: 20.0000%;">
                <div data-empty="true" style="text-align: center;">cart</div>
                <ul>
                    <li>cart.items</li>
                    <li>cart.total</li>
                </ul>
            </td>
            <td style="width: 20.0000%;">
                <div data-empty="true" style="text-align: center;"><code>{</code></div>
                <div data-empty="true" style="text-align: center;"><code>items: [],</code></div>
                <div data-empty="true" style="text-align: center;"><code>total: 0.0,</code></div>
                <div data-empty="true" style="text-align: center;"><code>}</code></div>
            </td>
            <td style="width: 20.0000%;">
                <div data-empty="true" style="text-align: center;">js object</div>
                <ul>
                    <li>array</li>
                    <li>float</li>
                </ul>
            </td>
            <td style="width: 35.4354%;"><br></td>
            <td style="width: 4.5045%;"><br></td>
        </tr>
        <tr>
            <td style="width: 20.0000%;">
                <div data-empty="true" style="text-align: center;">numCards</div>
            </td>
            <td style="width: 20.0000%;">
                <div data-empty="true" style="text-align: center;"><code>0</code></div>
            </td>
            <td style="width: 20.0000%;">
                <div data-empty="true" style="text-align: center;">int</div>
            </td>
            <td style="width: 35.4354%;"><br></td>
            <td style="width: 4.5045%;"><br></td>
        </tr>
        <tr>
            <td style="width: 20.0000%;">
                <div data-empty="true" style="text-align: center;">numPages</div>
            </td>
            <td style="width: 20.0000%;">
                <div data-empty="true" style="text-align: center;"><code>0</code></div>
            </td>
            <td style="width: 20.0000%;">
                <div data-empty="true" style="text-align: center;">int</div>
            </td>
            <td style="width: 35.4354%;"><br></td>
            <td style="width: 4.5045%;"><br></td>
        </tr>
        <tr>
            <td style="width: 20.0000%;">
                <div data-empty="true" style="text-align: center;">currPage</div>
            </td>
            <td style="width: 20.0000%;">
                <div style="text-align: center;"><code>0</code></div>
            </td>
            <td style="width: 20.0000%;">
                <div data-empty="true" style="text-align: center;">int</div>
            </td>
            <td style="width: 35.4354%;"><br></td>
            <td style="width: 4.5045%;"><br></td>
        </tr>
    </tbody>
</table>
<p>I have no idea why is wasn&apos;t letting me write</p>
<h1><u>API:</u></h1>

</body>

</html>
